# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints


# embeddings
/embeds

# dataset_stats
/dataset_stats

# all outputs
/outputs

# data
/runs
/src
data/tce.parquet
*/__pycache__

# extensions
*.png
*.bin
*.npy
*.csv

# vector store
/chroma

