langchain>=0.3.26
# langchain-comunity==0.3.27 # doesn't work: pip install langchain-community langchain-core
langchain-chroma==0.2.4
langchain-openai==0.3.27
sentence-transformers==5.0.0 #pip install -U sentence-transformers or conda install -c conda-forge sentence-transformers
tqdm>=4.11.2
torchvision>=0.2.1
numpy==1.26.4
pandas==2.3.0
scipy>=1.0.0
scikit-learn>=1.7.0
matplotlib==3.10.1
seaborn==0.13.2
tensorboardX==2.6.4
cytoolz==1.0.1
visdom>=0.1.05
fastparquet==2024.11.0
pyarrow==20.0.0
Faker==1.0.5
rapidfuzz==3.4.0
setuptools>=40.2.0
torch==2.7.1
pyyaml==6.0.2
pytest>=3.8.0
pytest-cov>=2.6.0 
codecov>=2.0.15
streamlit==1.46.1
click>=6.7
flake8>=3.6.0
xlrd>=1.0.0


#pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu116 # pytorch para cuda 11.6, pois a CUDA version é 12.5 
